.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(to bottom right, #ff7e5f, #feb47b);
}

.header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    margin-top: auto;
}
